<div class="chat-group">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Chat Group</h4></li>
    <li class="collection-item" *ngFor="let user of users">{{user}}</li>
  </ul>
</div>
