$primary-red: #ee6e73;
$grey-darken-1: #757575;

.chat-group {
  border-radius: 10px;
  border: 3px solid $primary-red;
  height: 650px;
  .collection {
    margin-top: 0;

    &.with-header {
      .collection-header {
        background-color: $primary-red;
        color: #fff;
        text-align: center;

      }
    }

  }
}
