<div class="container">
  <div class="canvas canvas1">
    <div class="spinner1 spinnerMax">
      <div class="spinner1 spinnerMid">
        <div class="spinner1 spinnerMin"></div>
      </div>
    </div>
  </div>
</div>
