@import "../../../assets/colors";

.canvas {
  align-items: center;
  background: #eeeeee;
  border-radius: 50%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  display: flex;
  height: 20em;
  justify-content: center;
  margin: 1em 1em 2em 1em;
  width: 20em;
}

/* Spinner 1 starts here */
.spinner1 {
  align-items: center;
  border: .5em solid transparent;
  border-top: .5em solid $primary-red;
  border-right: .5em solid $primary-red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.spinnerMax {
  animation: spinnerOne 3s linear infinite;
  height: 6em;
  width: 6em;
}

.spinnerMid {
  animation: spinnerOne 5s linear infinite;
  height: 4.8em;
  width: 4.8em;
}

.spinnerMin {
  animation: spinnerOne 5s linear infinite;
  height: 3.6em;
  width: 3.6em;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
/* Spinner 1 ends here */
