
<div class="chat-page">
  <div class="chat-container">
    <div class="chat-input">
      <input type="text" [(ngModel)]="message"  name="message" placeholder="type message ..." (keyup.enter)="newMessage()" (keypress)="typing()">
    </div>
    <div class="chat-box">
    <!--  <div class="typing-container">
        <div class="typing-item" *ngFor="let user of typingUsers">
          <span class="typing-user">
            {{user}}
          </span>
          <div class="typing-indicator">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

      </div>-->
      <div *ngFor="let message of messages" class="scale-transition scale-in message"  [ngClass]="{'me': message.username == user.username, 'you': message.username != user.username}">
        <strong class="message-username">{{message.username}}</strong>
        <span class="message-text" [ngClass]="{'bubble': message?.type == 'new-message',
        'notification badge blue': message?.type == 'room-notification',
        'notification badge red': message?.type == 'user-notification'}">
          {{message.text}}
        </span>
        <span class="message-time">{{message.time}}</span>
      </div>
    </div>
  </div>
</div>

