$primary-red: #ee6e73;
$grey-darken-1: #757575;
$bubble-color: white;

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}


.chat-container {
  border-radius: 10px;
  border: 3px solid $primary-red;
  height: 650px;
  flex-basis: 850px;
  .chat-input {
    padding: 20px 15px;
    //border-top: 3px solid $primary-red;
    background-color: $primary-red;
    opacity: 0.7;
    font-size: 18px;
    color: #ffffff;
  }
  .chat-box {
    padding: 5px 20px;
    padding-bottom: 0 !important;
    .typing-container {
      .typing-item {
        .typing-user {

        }
        .typing-indicator {
          $ti-color-bg: #ee6e73;
          background-color: $ti-color-bg;
          will-change: transform;
          width: auto;
          border-radius: 50px;
          padding: 15px;
          display: table;
          margin: 0 auto;
          position: relative;
          animation: 2s bulge infinite ease-out;
          filter:   grayscale(20%) drop-shadow(-1px -1px 2px rgba(black, .10)) drop-shadow(1px 2px 2px rgba(black, .15));
          &::before,
          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: -2px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: $ti-color-bg;
          }
          &::after {
            height: 10px;
            width: 10px;
            left: -10px;
            bottom: -10px;
          }
          span {
            height: 15px;
            width: 15px;
            float: left;
            margin: 0 1px;
            background-color: #fff;
            display: block;
            border-radius: 50%;
            opacity: 0.4;
            @for $i from 1 through 3 {
              &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * .3333s);
              }
            }
          }
        }
      }
    }
    .message {
      color: $grey-darken-1;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      .message-username {
        .material-icons {
          vertical-align: middle;
        }
      }
      .message-text {
        background-color: #e3f2fd;
        display: inline-block;
        margin-left: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        vertical-align: text-top;
        width: 60%;
        &.bubble{
          background-color: $primary-red;
          //border-radius: 5px;
          box-shadow: 0 0 6px #B2B2B2;
          display: inline-block;
          padding: 10px 18px;
          position: relative;
          vertical-align: middle;
          filter:   grayscale(20%) drop-shadow(-1px -1px 2px rgba(black, .10)) drop-shadow(1px 2px 2px rgba(black, .15));
          color: $bubble-color;
          &::before {
            background-color: $primary-red;
            content: "\00a0";
            display: block;
            height: 16px;
            position: absolute;
            top: 11px;
            transform:             rotate( 29deg ) skew( -35deg );
            -moz-transform:    rotate( 29deg ) skew( -35deg );
            -ms-transform:     rotate( 29deg ) skew( -35deg );
            -o-transform:      rotate( 29deg ) skew( -35deg );
            -webkit-transform: rotate( 29deg ) skew( -35deg );
            width:  20px;
          }
        }
        &.notification {
          padding: 1px !important;
          color: #e3f2fd !important;

        }

      }
      .message-time {
        float: right;

      }

      &.me {
        .message-text {
          margin: 5px 45px 5px 20px;
          &::before {
            box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
            left: -9px;
          }
        }

      }
      &.you {
        flex-direction: row-reverse;
        .message-text {
          float: right;
          margin: 5px 20px 5px 45px;
          &::before {
            box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
            right: -9px;
          }
        }
      }
    }
  }
}

