<ng-io-loader *ngIf="isLoading"></ng-io-loader>


<div class="container" *ngIf="!isLoading">
  <div class="row" *ngIf="user">
    <div class="col s12">
      <div class="card darken-1">
        <div class="card-content white-text">
          <span class="card-title">Chat Rooms</span>
          <ul class="collection teal-text">
            <li class="collection-item" *ngFor="let room of rooms">
               <span class="room-name">{{room.name | uppercase}}</span>
               <span class="room-desc">{{room.description}}</span>
              <button class="btn waves-effect waves-light  btn-medium pulse " type="submit" (click)="joinRoom(room.name)">Join</button>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
