@import "../../../assets/colors";
.container {
  .card {
    background-color: $primary-red;
    margin-top: 100px;
    .card-title {
      text-align: center;
      background-color: $primary-red;

    }
   // width: 100%;
    .card-content {
      padding: 0 !important;
      .collection {

        .collection-item {
          line-height: 2.5rem;
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          background-color: #eeeeee;

          &:hover {
            button {
              opacity: 1;
            }
          }
          .room-name {
            color: blue;
          }
          button {
            float: right;
            opacity: 0;

          }
        }
      }
    }
  }
  .create-room {
    margin-top: 40px;
  }
}
