<div class="row" style="margin-top: 50px">
  <h4 class="teal-text text-darken-2"><em>Create an username, choose a room and start chatting</em></h4>
</div>
<div class="row center-align" style="margin-top: 50px">
  <div class="typing-indicator">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="row" style="margin-top: 50px" *ngIf="!authenticated">
  <div class="col s8 teal-text">
    <i class="material-icons prefix">@</i>
    <input type="text" [(ngModel)]="usernameInput"  name="usernameInput" placeholder="Enter Username">
  </div>
  <div class="col s3 offset-s1">
    <button class="btn waves-effect waves-light btn-large" type="submit" name="action" [disabled]="!usernameInput" (click)="authenticationAction()">Submit
    </button>
  </div>
</div>


