input {
  width: 75% !important;

}


.typing-indicator {
  $ti-color-bg: #ee6e73;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 40px;
  display: table;
  margin: 0 auto;
  position: relative;
  animation: 2s bulge infinite ease-out;
  filter:   grayscale(20%) drop-shadow(-1px -1px 2px rgba(black, .10)) drop-shadow(1px 2px 2px rgba(black, .15));
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: -4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 20px;
    width: 20px;
    left: -20px;
    bottom: -20px;
  }
  span {
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 1px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
