<form  [formGroup]="userMenuForm" novalidate>
  <div class="input-group teal-text">
    <i class="material-icons prefix">@</i>
    <input type="text" name="username" placeholder="Handle" [formControl]="userMenuForm.controls['username']">
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light btn-large" [disabled]="!userMenuForm.valid" (click)="updateUser(userMenuForm.value)" >Change</button>
  </div>
</form>
