<nav>
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <div id="userMenuContainer" class="container">
          <a  class="button button-menu  tooltipped waves-effect waves-light  modal-trigger"  data-position="bottom" data-delay="50" data-tooltip="User Menu"><i class="material-icons">account_circle</i></a>
          <div class="content">
            <div class="head">
              <h1>User Menu</h1>
            </div>
            <div class="body">
              <ng-io-user-menu></ng-io-user-menu>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a href="#" class="brand-logo center">Hobby Chat</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ng-container *ngIf="!user">
        <li><a  class="button">Admin </a></li>
      </ng-container>
      <ng-container *ngIf="user">
        <li><a class="button tooltipped"  data-position="bottom" data-delay="50" data-tooltip="View Rooms"><i class="material-icons" (click)="goToList()">view_list</i></a></li>
        <li><a class="button tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Logout" (click)="leaveApp()"><i class="material-icons">exit_to_app</i></a></li>
      </ng-container>
    </ul>
  </div>
</nav>

