@import "../../../assets/colors";
#userMenuModal {
  .modal-header {
    background-color: $primary-red;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 2.1rem;
  }
}


$body-bg: #FAFAFA;
//Other pretty primary colors: E91E63 FF5722
$primary-col: #03A9F4;
$accent-col: #FFC400;
$accent-fallback: #FFD740;

$font-stack: Roboto, sans-serif;
$easer: cubic-bezier(0.4, 0, 0.2, 1);


.button-menu {
  transition: all 0.7s $easer;
}
.expand .button-menu {
  transform: rotate(720deg);

  transition: all 0.5s $easer;
}

.container {
  //position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 5vh;
  background-color: $primary-red;


  //border-radius: 50%;
  width: 60px;
  max-width: 60px;
  height: 60px;
  text-align: center;
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  z-index: 1000;
  transition: all 0.2s 0.45s,
  height 0.2s $easer 0.25s,
  max-width 0.2s $easer 0.35s,
  width 0.2s $easer 0.35s;
}
.container.expand {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.17);
  border-radius: 0;
  width: 400px;
  height: 500px;
  max-width: 600px;
  padding: 0;

  transition: all 0.2s, max-width 0.2s $easer 0.1s, height 0.3s ease 0.25s;
}

.content {
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: left;

  transition: transform 0.2s $easer, opacity 0.2s 0.2s;
}
.expand .content {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.7s $easer 0.05s, opacity 0s;
}

.content .head {
  text-align: center;
}
.content .body {
  color: #000;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;

}
