<ng-io-loader *ngIf="isLoading"></ng-io-loader>

<div class="chat-room" *ngIf="!isLoading">
  <div class="room-header card-panel red lighten-3">
    <h3>Room: <span class="name  accent-2">{{room?.name}}</span></h3>
    <p>{{room?.description}}</p>
  </div>
  <div class="room-body">
    <ng-io-chat [messages]="messages" (sendMessage)="onSendMessage($event)"></ng-io-chat>
    <ng-io-chat-group></ng-io-chat-group>
  </div>

</div>
