@import "../../../assets/colors";

.chat-room {
  display: flex;
  flex-direction: column;
  .room-header {
    align-self: center;
    color: $primary-red;
    width: 700px;
    height: 150px;
    margin-top: 40px;
    color: #ffffff;
    .name {
      color: #0d47a1;
    }
  }
  .room-body {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    ng-io-chat {
      flex-basis: 600px;
      margin-left: 30px;
    }
    ng-io-chat-group {
      flex-basis: 350px;
      margin-left: 30px;

    }
  }

}
