/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eeeeee;
}
ng-io-loader {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


.success-toast {
  background-color: orange !important;

}
